html {
	background-image: url("../Images/ht.jpg"); /* <!-- Source: 7. in Bibliography doc file in the root folder -->*/
	
}
@font-face {
  font-family: 'GameOfThrones';
  src: url('../Fonts/Game_of_Thrones.ttf');
}
body{
	width: 1200px;
	background-color:white;
	margin: 15px auto;
	border: 1px ridge black;
	
	}
body h1{
	font-family:GameOfThrones;
}	

header{
	text-align: center;
	border-bottom:1px ridge black;
	background-color:black;
	color: #ffbd1b;
	font-size:200%;
	padding-top: 10px;
	font-family:GameOfThrones;
	}
	
#logo{
	float: left; 
	padding-right: 15px; 
}

#nav_menu ul{
	list-style-type:none;
	padding-right:10px;
	position:relative;
}
#nav_menu ul li{
	float:left;
}

#nav_menu ul ul{
	display:none;
	position:absolute;
	top:100%;
}
#nav_menu ul ul li{
	float:none;
	position:relative;
}
#nav_menu ul ul li ul{
	position:absolute;
	left:100%;
	top:0;
}

#nav_menu ul li:hover>ul{
	display:block;
	z-index:1;
}
#nav_menu>ul:after{
	content: "";
	clear:both;
	display:block;
}
#nav_menu ul {
	margin: 0;
	padding: 0;
}

#nav_menu ul li a{
	font-family:GameOfThrones;
	text-align:center;
	display:block;
	width:300px;
	padding: 1em 0;
	text-decoration:none;
	background-color:#ffbd1b;
	color:black;
	font-weight:bold;
	
}

#nav_menu ul li:last-child{
border-right:none;
}
#nav_menu ul li a.current{
color:white;
}
#nav_menu ul li a:active{
	color: green;
}
#nav_menu ul li a:hover{
	background-color:#3C3545;
	color:white;
}
#nav_menu ul li a:focus{
	background-color:black;
	color:white;
}	



#leftside{
	padding-top:25px;
	padding-right:10px;
	width: 300 px;
	height:830px;
	float: left;
	border-right: 1px ridge white;
	background-color:#7E8283;
	}

#nav_list ul{
	padding-right:20px;
	list-style-type:none;
	padding-bottom:1px;
	
}


#nav_list img{
	margin-bottom:30px;
	margin-top:30px;
	border:5px solid #ffbd1b;
	border-radius:0 20px 0 20px;
}

#img3:hover{
	
	transform: scale(1.5);

}

#img1:hover{
	transform: scale(1.5);

}

#img2:hover{
	transform: scale(1.5);

}


footer{
	clear:both;
	border-top:1px ridge black;
	text-align:center;
	background-color:#ffbd1b;
	padding-bottom:10px;
    }

